.scrollable-box {
    max-height: 400px; /* Limit the height */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding: 15px;
    border: 1px solid #103f0e;
    border-radius: 5px;
    background-color: #103f0e;
}

.resource-list {
    list-style-type: none;
    padding-left: 0;
}