{% extends 'base.html' %}

<!-- Title -->
{% block title %}
Resource Live Tracker
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Donor Column -->
        <div class="col-md-6">
            <h2 class="text-center">
                <p class="h2 mt-5 mb-5 text-white"
                data-aos="fade-right"
                data-aos-easing="ease-in-out"
                data-aos-offset="250"
                data-aos-delay="100">
                    Donors
                </p>
            </h2>
            <div class="scrollable-box"
            data-aos="fade-right"
            data-aos-easing="ease-in-out"
            data-aos-offset="250"
            data-aos-delay="100">
                {% for donor in donorData %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ donor.name }}</h5>
                        <p class="card-text">Country: {{ donor.country }}</p>
                        <p class="card-text">Resources: 
                            {{ donor.resources | join(', ') }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Victim Column -->
        <div class="col-md-6">
            <h2 class="text-center">
                <p class="h2 mt-5 mb-5 text-white"
                data-aos="fade-left"
                data-aos-easing="ease-in-out"
                data-aos-offset="250"
                data-aos-delay="100">
                    Requests
                </p>
            </h2>
            <div class="scrollable-box"
            data-aos="fade-left"
            data-aos-easing="ease-in-out"
            data-aos-offset="250"
            data-aos-delay="100">
                {% for victim in victimData %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ victim.name }}</h5>
                        <p class="card-text">Country: {{ victim.country }}</p>
                        <p class="card-text">Resources: 
                            {{ victim.resources | join(', ') }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}